services:
  - type: web
    name: sheka-muzic-bot
    env: python
    region: oregon
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        generateValue: true  # Задашь на Render
